{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="../static/register.css">
{% endblock %}

{% block content %}

<div class="reg_wrapper">
    <div class="section01">
        <strong>프로그램 신청하기</strong>
        <p>수강가능한 지역과 수강하실 분의 정보를 입력해주세요💕</p>
    </div>
    <div class="section02">
        <div class="wrapper">
            <div class="con">
                <div class="sec01">
                    <label for="useraddress">주소 :  </label>
                    <input type="text" id="useraddress" name="useraddress"><br/>
                </div>
                <div class="sec02">
                    <label for="userpurpose">목적 : </label>
                    <input type="text" id="userpurpose" name="userpurpose"><br/>
                </div>
                <div class="sec03">
                    <label for="sportstype">운동종목 : </label>
                    <input type="text" id="sportstype" name="sportstype"><br/>
                </div>
                <div class="sec04">
                    <label for="usersex">성별 : </label>
                    <input type="text" id="usersex" name="usersex"><br/>
                </div>
                <div class="sec05">
                    <label for="userage">나이 : </label>
                    <input type="text" id="userage" name="userage"><br/>
                </div>
                <div class="sec06">
                    <label for="selectdate">일정 선택 : </label>
                    <input type="text" id="selectdate" name="selectdate"><br/>
                </div>
            </div>
        </div>
    </div>
    <div class="section03">
        <a class="pre">이전</a>
        <input onclick="user_register()" type="button" value="다음">
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    function user_register(){
        let userAddress = $('#useraddress').val();
        let userPurpose = $('#userpurpose').val();
        let sportsType = $('#sportstype').val();
        let userSex = $('#usersex').val();
        let userAge = $('#userage').val();
        let selectDate = $('#selectdate').val();

        if(!userAddress){
            alert('주소를 입력하세요.');
            return;
        }else if(!userPurpose){
            alert('운동목적을 입력하세요.');
            return;
        }else if(!sportsType){
            alert('운동 종목을 입력하세요.');
            return;
        }else if(!userSex){
            alert('수강생의 성별을 입력하세요.');
            return;
        }else if(!userAge){
            alert('수강생의 나이를 입력하세요.');
            return;
        }else if(!selectDate){
            alert('수강 가능하신 날짜를 입력하세요.');
            return;
        }

        $.ajax({
            type: "POST",
            url: "/api/register",
            data: {userAddress_give: userAddress, userPurpose_give: userPurpose, sportsType_give: sportsType, userSex_give: userSex, userAge_give: userAge, selectDate_give: selectDate},
            success: function (response) {
                if (response["result"] == "success") {
                    alert(response["msg"]);
                    window.location.reload();
                }
            }
        })
    }
</script>
{% endblock %}