footer{
    color: #4a4a4a;
    margin: 0;
    border: 0;
    outline: 0;
    letter-spacing: -0.5px;
    line-height: 1.4;
    text-align: center;
    text-shadow: none;
    padding: 30px 0 !important;
    text-align: center;
    background: #2a2927;
}

footer .sec01{
    width: 92px;
    margin: 0 589px auto 589px;
    color: #4a4a4a;
    padding: 0;
    border: 0;
    outline: 0;
    letter-spacing: -0.5px;
    line-height: 1.4;
    display: block;
    text-align: center;
}


footer .sec01 img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

footer .sec02{
    width: 320px;
    height: 102px;
    margin: 14px auto 0;
    padding: 12px 0;
    color: #959595 !important;
    border-radius: 2px;
    border: 1px solid #4a4a4a;
}

footer .sec02 strong{
    font-size: 12px;
    font-style: normal;
    font-weight: bolder;
}

footer .sec02 p{
    margin: 4px 0 6px;
    font-size: 16px;
    color: #d1d1d1;
    font-weight: 400;
}

footer .sec02 p strong{
    color: #b28ff7;
    font-weight: 400;
}

footer .sec02 .etc{
    color: #4a4a4a;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

footer .sec02 .etc span{
    display: inline-block;
    position: relative;
    padding: 0 12px;
    font-size: 11px;
    color: #959595;
}

footer .sec03{
    padding: 10px 0;
    color: #4a4a4a;
}

footer .sec03 a{
    color: #959595;
    margin: 0 3px;
    font-size: 12px;
}

footer .sec03 a i{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

footer .sec04{
    width: 640px;
    margin: 0 auto;
    padding-top: 14px;
    font-size: 11px;
    border-top: 1px solid #4a4a4a;
}

footer .sec04 .first{
    margin-bottom: 13px;
    color: #4a4a4a;
}

footer .sec04 .first span{
    display: inline-block;
    position: relative;
    padding: 0 8px;
    color: #959595;
}

footer .sec04 .first a{
    display: inline-block;
    position: relative;
    padding: 0 8px;
    color: #959595;
}

footer .sec04 .sec p{
    margin-bottom: 4px;
    color: #4a4a4a;
    padding: 0;
    border: 0;
    outline: 0;
    letter-spacing: -0.5px;
    line-height: 1.4;
}

footer .sec04 .sec span{
    display: inline-block;
    position: relative;
    padding: 0 8px;
    color: #959595;
}

footer .sec04 .sec a{
    padding-left: 0;
    font-weight: 600;
    display: inline-block;
    position: relative;
    color: #959595;
}

footer .sec04 .third{
    margin-bottom: 4px;
    olor: #4a4a4a;
    padding: 0;
    border: 0;
    outline: 0;
    letter-spacing: -0.5px;
    line-height: 1.4;
}

footer .sec04 .third span{
    margin: 13px 0 0 0;
    color: #959595;
}